.profile-default-image {

    border-radius: 125px;
    height: 50px;
    width: 50px;
    background-image: url("../img/profile/profilePhoto.png");
}

.profile-position {
    margin-right: 450px;
}

