<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learnist</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="/fragments/header::header"></div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('CREATOR')">
    This content is only shown to creators.
</div>
<div sec:authorize="hasAnyAuthority('can_update', 'can_delete')">
    <a href="/main">Create New Product</a>
</div>
<div th:text="'Creator page is under maintenance, sorry for any inconvenience.'"></div>

<div sec:authorize="hasAnyRole('CREATOR', 'ROLE_ADMIN')">
</div>
<a class="btn btn-primary" href="/main" role="button">Go Back</a>

<div th:replace="/fragments/footer::footer"></div>
</body>
</html>
