<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Learnist</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1 style="color: white" align="center">Welcome to Learnist!</h1>
<div style=color:floralwhite content="align-content: center">
    <div style="padding: 150px">
        The fastest way to learn a language</br>
        A natural approach to learning real-life language. Jump in and give it a go!</br>
        Click <a th:href="@{/main}">here</a> to get started
    </div>
</div>
</body>
</html>
