<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learnist</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Learnist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Settings</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/main" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/main">Action</a>
                    <a class="dropdown-item" href="/main">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perform_logout"> Logout</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<p sec:authentication="principal.authorities">Roles</p>
<div sec:authorize="hasAuthority('can_update')">
    This text is only shown to roles with can_update permissions.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin/profile">1) admin panel</a>
</div>
<div sec:authorize="hasAuthority('can_update')">
    <a href="/creator/profile">2) link with auth can_update</a>
</div>
<div sec:authorize="hasRole('ROLE_CREATOR')">
    <div sec:authorize="hasRole('ROLE_CREATOR')">
        <a href="/creator/profile">3) link with hasRole('ROLE_CREATOR')</a>
</div>
<div sec:authorize="hasAnyRole('ROLE_CREATOR, ROLE_USER')">
    <a href="/creator/profile">4) hasAnyRole(CR, U CR can access, but U can't because of @PreAuthorize"</a>
</div>
<div sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER, CREATOR')">
    <a href="/user/add">5) all roles can access this link</a>
</div>
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_CREATOR')">
    <a class="btn btn-primary" href="/perform_logout" role="button">Logout</a>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="navbar-brand" href="/main">Learnist</a>
    <div style="color: lightgrey">Copyright © 2020 all rights reserved</div>
</nav>
</body>
</html>
