<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head"></head>
<body>
<div th:replace="/fragments/header::header"></div>

<div class="card mb-3">
    <img class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn1.jpg}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div class="card mb-3">
    <img class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn2.jpg}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div class="card mb-3">
    <img class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn3.PNG}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div class="card mb-3">
    <img class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn4.jpg}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div class="card mb-3">
    <img class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn5.jpg}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<div th:replace="/fragments/footer::footer"></div>
</body>
</html>
