<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head"></head>
<body>
<div th:replace="/fragments/header::header"></div>
<div th:class="container-fluid">
    <div class="card-dashboard">
        <a class="one" href="/dictionary">
            <img alt="Card image cap" class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn1.jpg}">
            <div class="card-body">
                <h5 class="card-title">Daily Task 1: Listening</h5>
                <p class="card-text">In this task you are going to listen a dialog between 2 friends and answer to the
                    questions afterwards</p>
            </div>
        </a>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
    </div>
    <div class="card-dashboard">
        <a class="one" href="/dictionary">
            <img alt="Card image cap" class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn2.jpg}">
            <div class="card-body">
                <h5 class="card-title">Daily Task 2: Reading</h5>
                <p class="card-text">In this task you are going to read a dialog between 2 friends and answer to the
                    questions afterwards</p>
            </div>
        </a>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
    </div>
    <div class="card-dashboard">
        <a class="one" href="/dictionary">
            <img alt="Card image cap" class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn3.PNG}">
            <div class="card-body">
                <h5 class="card-title">Daily Task 3: Writing</h5>
                <p class="card-text">In this task you are going to write a dialog between 2 friends and answer to the
                    questions afterwards</p>
            </div>
        </a>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
    </div>
    <div class="card-dashboard">
        <a class="one" href="/dictionary">
            <img alt="Card image cap" class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn4.jpg}">
            <div class="card-body">
                <h5 class="card-title">Daily Task 4: Speaking</h5>
                <p class="card-text">In this task you are going to listen a dialog between 2 friends and talk within
                    related topic for 2 minutes</p>
            </div>
        </a>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
    </div>
    <div class="card-dashboard">
        <a class="one" href="/dictionary">
            <img alt="Card image cap" class="card-img-top" th:src="@{/assets/img/trainingCards/dashboard/learn5.jpg}">
            <div class="card-body">
                <h5 class="card-title">Daily Task 5: Grammar</h5>
                <p class="card-text">In this task you are going to learn about Present Continuous</p>
            </div>
        </a>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
    </div>
</div>
<div th:replace="/fragments/footer::footer"></div>
</body>
</html>
