<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="registration-text">
                <div class="d-flex justify-content-left links">
                <form th:action="@{/registration}" method="post" th:object="${user}">
                    Name: <label><input type="text" name="username"></label><br>
                    Password: <label><input type="password" name="password"></label><br>
                    <input type="submit" value="Submit">
                </form>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info"> You've successfully registered to learnist!</div>
                    <a class="btn btn-primary" href="/login" role="button">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>