<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="registration-text">
                <div class="d-flex justify-content-left links">
                    <form th:action="@{/reset-password}" method="post">
                        <input hidden="hidden" name="userId" th:value="${userId}">
                        Enter new password: <label><input type="password" name="password"></label><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info"> You've successfully changed your password, please try to login
                    </div>
                    <a class="btn btn-primary" href="/login" role="button">Go to login page</a> // потом убрать
                </div>
            </div>
            <div th:if="${param.failure}">
                <div class="alert alert-danger"> You cannot reset your password, check the credentials again please!
                </div>
                <a class="btn btn-primary" href="/login" role="button">Go Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>